.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.4rem 1rem;
    /* Ajuste para más espacio lateral */
    background-color: $color-azul;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 3000;
    transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out;

    &.scrolled {
        background-color: $dark-gray;
        padding: 0.2rem 0.6rem;
        width: 100%;
        img {
            width: 10%;
            height: 100%;
        }

        .search-box {
            display: none;
        }
    }

    .logo-container {
        width: 30%;
        img {
            width: 30%;
            height: auto;
        }
    }


    .search-box {
        width: 32%;
        max-width: 580px;
        margin: 0.4rem 0;
        max-height: 40px;
        .search-section {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.25rem;
            border-radius: 2rem;
            background-color: $main-white;
            max-height: 40px;
            input {
                all: unset;
                margin-left: 1rem;
                margin-right: 1rem;
                width: 100%;
            }

            button {
                all: unset;
                cursor: pointer;
                background-color: $color-naranja;
                transition: all 0.3s;
                padding: 0.4rem 0.8rem;
                border-radius: 1rem;

                &:hover {
                    background-color: $color-naranja-hover;
                }
            }
        }
    }

    .nav-container {
        display: flex;
        justify-content: flex-end;
        flex-wrap: nowrap;
        width: auto;
        gap: 1.5rem;

        .nav-link {
            font-size: 1rem;
            color: $color-blanco;
            text-decoration: none;
            white-space: nowrap;
            transition: all 0.2s ease-in-out;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3px;
            &:hover {
                transform: scale(1.06);
            }
        }
        .soy-proveedor {
            padding: 8px;
            display: flex;
            align-items: center;
            background-color: $main-white;
            border: none;
            border-radius: 6px;
            color: $color-azul-utils;
            cursor: pointer;
            transition: all .3s;
            &:hover {
                background-color:  $color-azul-utils;
                color: $main-white;
            }
            
            .nav-extra {
                display: flex;
                align-items: center;
                gap: 3px;
                text-decoration: none;
                color: inherit;
                transition: all .3s;
                font-weight: 500;
                font-family: 'Montserrat',sans-serif;
                &:hover {               
                    color: $main-white;
                }
                .proveedorIcon {
                    width: 18px;
                    height: 18px;
                    color: inherit;
                    &:hover {               
                        color: inherit;
                    }
                }
            }
        }
        
    }

    @media (max-width: 1440px) {
        .search-box {
            width: 25%;
        }

        .nav-container {
            gap: 1rem;
        }

        .nav-link {
            font-size: 0.8rem;
        }


    }

    @media (max-width: 1080px) {
        .nav-container {
            gap: 0.8rem;
        }

        .nav-link {
            font-size: 0.75rem;
        }


    }
}