.main-categorias {
    font-family: 'Roboto', system-ui;
    background-image: url("https://i.ibb.co/tZ1y0zQ/Background-Ciudad.png");
    background-position: 56% -10%;
    background-size: 270%;
    background-repeat: no-repeat;
    background-color: $color-azul;
    margin-top: 4rem;
    padding-top: .5em;
    h1,
    h3 {
        color: $color-blanco;
    }

    h1 {
        font-size: 3.7rem;
        margin: 2.2rem;
        text-align: center;
        margin-top: 6rem;
        margin-bottom: 1rem;
    }

    h3 {
        margin-top: .5rem;
        margin: 1.3rem;
        text-align: center;
        font-size: 1.3rem;
        letter-spacing: 0.5px;
    }

    section {
        margin-top: 3rem;

        h4 {
            font-weight: 300;
            color: $color-gris;
            font-size: 1.4rem;
            margin-left: 1rem;
        }


    }
}

.div-de-grid {
    display: grid;
    grid-template-columns: 1fr;

    .bg {
        background-color: $color-azul;
    }

    .categorias-contenido {
        border-radius: 1rem;
        margin: .7rem;
        margin-left: 1rem;
        margin-right: 1rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;


        img {
            border-top-left-radius: inherit;
            border-bottom-left-radius: inherit;
            height: 7em;
            width: 20%;
            object-fit: cover;
        }

        p {
            color: $color-blanco;
            margin: 1.2rem;
            padding: .7rem;
            font-size: 1.4rem;
            font-weight: 400;
        }


    }

    .cat-iconos {
        margin: .1rem;
        padding: .1rem;
        height: 5.2em;
        background-color: transparent;
        img {
            height: 60%;
            width: 15%;
            object-fit: contain;
            border: none;
        }

        p {
            font-size: 1.2rem;
            padding: .5rem;
            width: 85%;
        }
    }
}


//tablet
@media (min-width: 850px) {
    .main-categorias {
        background-size: cover;
    }
    .div-de-grid {
        grid-template-columns: 1fr 1fr;
        .cat-iconos {
            padding: .7rem;
        }
    }
}


//desktop
@media (min-width: 1024px) {

    .main-categorias {
        padding: 8% 10%;
        margin-top: 0;
        background-position: 50% 100%;
        background-size: cover;
        h1 {
            margin-top: 0;
        }

        section {
            h4 {
                font-size: 1rem;
            }
        }
    }

    

    .div-de-grid {
        grid-template-columns: repeat(5, 1fr);

        .categorias-contenido {
            img {
                width: 30%;
                height: 100%;
            }

            p {
                font-size: 1.1rem;
                margin: 1rem;
                padding: .5rem;
                padding-right: 0;
                margin-right: 0;
                width: 70%;
            }
        }

        .cat-iconos {

            margin: .1rem;
            padding: .1rem;
            height: 5em;

            img {
                height: 100%;
                width: 15%;
                object-fit: contain;
                border: none;
                padding: .5rem;
            }

            p {
                font-size: 1.1rem;
                padding: .5rem;
                width: 85%;

            }
        }

    }
}