.main-filters-component {
    z-index: 1000;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    width: 90vw;
    max-height: 100vh;
    background-color: $main-white;
    transform: translateY(-100%); // Estado inicial fuera de la pantalla
    animation-duration: 0.5s;
    animation-fill-mode: forwards;

    &.visible {
        animation-name: slideIn;
    }

    &.hidden {
        animation-name: slideOut;
    }

    .closebtn-div {
        display: flex;
        justify-content: flex-end;

        button {
            margin-top: 1rem;
            margin-right: 1rem;
            font-size: 1.4rem;
            margin-left: 1rem;
            border: none;
            border-radius: .5rem;
            background-color: inherit;
            font-family: 'Roboto', system-ui;
            padding: .3rem;
            transition: all .3s;
            font-weight: 500;
        }
    }
}

.actual-filters-mobile {
    margin-bottom: 9rem;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', system-ui;
    font-size: 1.3rem;
    font-weight: 400;
    color: $text-gray;
    gap: 1rem;
    padding: 1rem 1.5rem;
    width: 100%;

    .filtro-tipos {
        .tipo-boton {
            margin-bottom: 1rem;
            display: flex;

            button {
                cursor: pointer;
                margin-left: 1rem;
                border: none;
                border-radius: .5rem;
                background-color: lightgray;
                font-family: 'Roboto', system-ui;
                padding: .3rem;
                transition: all .3s;
                font-weight: 500;

                &:hover {
                    background-color: $color-naranja-hover;
                }
            }
        }

        .filtro-tipos-checkboxes {
            li {
                list-style: none;
                margin-top: 0.7rem;
                cursor: pointer;
                 
                label {
                    display: flex;
                    align-items: center;
                    gap: 0.7rem;                    
                    font-size: 1.3rem;
                    font-family: 'Roboto', system-ui;
                    color: $text-gray;
                    
                    input {
                        display: none;
                        cursor: pointer;
        
                        &:checked + .custom-checkbox {
                            background-color: $color-azul; 
                            border-color: $color-azul;
        
                            &::after {
                                content: ''; 
                                position: absolute;
                                left: 30%; 
                                top: 2%; 
                                width: 4px;
                                height: 10px; 
                                border: solid white;
                                border-width: 0 2px 2px 0; 
                                transform: rotate(45deg); 
                            }
                        }
                    }
        
                    .custom-checkbox {
                        width: 18px;
                        height: 18px;
                        border: 2px solid $color-naranja; // Color del borde
                        border-radius: 16px; // Bordes redondeados
                        position: relative; // Para el pseudo-elemento
                        z-index: 2000;
                        // Añadir un efecto de transición
                        transition: background-color 0.3s ease, border-color 0.3s ease;
                    }
                }
            }
        }
        

    }

    //UBI-----------------UBICACION---------
    .filtro-ubicacion {
        margin-top: 1rem;

        select {
            cursor: pointer;
            font-size: 1.3rem;
            border-radius: .7rem;
            border: none;
            font-family: 'Roboto', system-ui;
            margin-top: 1rem;
            padding: .5rem;
            background-color: $item-white;
            color: $text-gray;

            option {
                .ubicacion-option {
                    padding: 1rem;
                }
            }
        }
    }

    //MARCA--------------------MARCA------------
    .filtro-marca {
        margin-top: 1rem;

        select {
            cursor: pointer;
            font-size: 1.3rem;
            border-radius: .7rem;
            border: none;
            font-family: 'Roboto', system-ui;
            margin-top: 1rem;
            padding: .5rem;
            background-color: $item-white;
            color: $text-gray;

            option {
                .marca-option {
                    padding: 1rem;
                }
            }
        }
    }

    .readyBtn {
        color: $main-white;
        align-self: center;
        width: 10em;
        margin-top: 2rem;
        font-size: 1.3rem;
        border: none;
        border-radius: .5rem;
        background-color: #004787;
        font-family: 'Roboto', system-ui;
        padding: 1rem;
        transition: all .3s;
        font-weight: 500;
    }
}



@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

// Keyframes para la animación de cierre del menú
@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}


@media (max-width: 768px) {
    .filtro-tipos-checkboxes {
        li {
            margin-top: 0.5rem;

            label {
                font-size: 1.3rem; // Texto más pequeño en pantallas móviles
                gap: 0.4rem; // Ajusta el espacio en mobile

                input {
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
}