.main-pill-filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .pill-filter {
        width: fit-content;
        display: flex;
        justify-content: center;
        border-radius: 12px;
        .pill-button {
            color: $text-gray;
            font-family: 'Roboto', system-ui;
            font-weight: 500;
            display: flex;
            gap: 3px;
            padding: 10px;
            border: none;
            background-color: #fff;
            font-size: 1rem;
            cursor: pointer;
            transition: background-color 0.3s ease, color 0.3s ease;

            &:nth-child(1) {
                border-bottom-left-radius: inherit;
                border-top-left-radius: inherit;
            }

            &:nth-child(3) {
                border-bottom-right-radius: inherit;
                border-top-right-radius: inherit;
            }

            &:hover {
                background-color: rgb(156, 194, 255);
            }

            &.active {
                background-color: $color-azul-utils;
                color: #fff;
            }

            .check-icon {
                font-size: 1rem;
                display: inline-block;
            }
        }
    }

    .filter-list-badges-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 15px;
        gap: 8px;

        max-width: 1400px;
        width: 100%;

        .arrow-btn {
            background: none;
            border: none;
            cursor: pointer;
            font-size: 17px;
            color: #808080;

        }

        .badges-overflow-container {

            overflow-x: auto;
            overflow-y: hidden;
            width: 100%;
            max-height: 29px;
            display: flex;
            white-space: nowrap;
            align-items: center;

            .filter-list-badges {
                display: inline-flex;
                align-items: center;
                gap: 8px;
                padding: 5px 0;
                flex-wrap: nowrap;
                overflow: scroll;
                width: 100%;

                .filter-badge {
                    color: #767676;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    background-color: #d8d8d8;
                    border-radius: 15px;
                    padding: 2px 7px;
                    font-size: 1rem;

                    .remove-badge-btn {
                        background: none;
                        border: none;
                        margin-left: 8px;
                        font-size: 1.4rem;
                        cursor: pointer;
                        color: #767676;

                        &:hover {
                            color: #b30000;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .main-pill-filter {
        width: 100%;
        max-width: 1400px;
        font-family: "Roboto", system-ui;

        .pill-filter-container {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 20px;
                color: $text-gray;
            }

            .pill-filter {
                width: fit-content;
                display: flex;
                justify-content: center;
                border-radius: 20px;

                .pill-button {
                    display: flex;
                    gap: 3px;
                    padding: 20px;
                    border: none;
                    background-color: #f0f0f0;
                    color: $text-gray;
                    font-size: 14px;
                    cursor: pointer;
                    transition: background-color 0.3s ease, color 0.3s ease;

                    &:nth-child(1) {
                        border-bottom-left-radius: inherit;
                        border-top-left-radius: inherit;
                    }

                    &:nth-child(3) {
                        border-bottom-right-radius: inherit;
                        border-top-right-radius: inherit;
                    }

                    &:hover {
                        background-color: rgb(156, 194, 255);
                    }

                    &.active {
                        background-color: $color-azul-utils;
                        color: #fff;
                    }

                    .check-icon {
                        font-size: 16px;
                        display: inline-block;
                    }
                }
            }
        }


        .filter-list-badges-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 15px;
            gap: 8px;

            max-width: 1400px;
            width: 100%;

            .arrow-btn {
                background: none;
                border: none;
                cursor: pointer;
                font-size: 20px;
                color: #808080;

            }

            .badges-overflow-container {

                overflow-x: auto;
                overflow-y: hidden;
                width: 85%;
                max-height: 50px;
                display: flex;
                white-space: nowrap;
                align-items: center;

                .filter-list-badges {
                    display: inline-flex;
                    align-items: center;
                    gap: 8px;
                    padding: 5px 0;
                    flex-wrap: nowrap;
                    overflow: scroll;
                    width: 100%;

                    .filter-badge {
                        color: #767676;
                        font-weight: 540;
                        display: flex;
                        align-items: center;
                        background-color: #d8d8d8;
                        border-radius: 15px;
                        padding: 5px 10px;
                        font-size: 14px;

                        .remove-badge-btn {
                            background: none;
                            border: none;
                            margin-left: 8px;
                            font-size: 14px;
                            cursor: pointer;
                            color: #767676;

                            &:hover {
                                color: #b30000;
                            }
                        }
                    }
                }
            }

            .reset-flt-btn {
                background: none;
                border: none;
                color: #007bff;
                cursor: pointer;
                font-size: 14px;
                font-weight: 500;
                margin: 10px;

                &:hover {
                    color: #0056b3;
                }
            }
        }


    }
}