.main-filters-component {
    z-index: 1000;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    width: 90vw;
    max-height: 100vh;
    background-color: $main-white;
    transform: translateY(-100%); // Estado inicial fuera de la pantalla
    animation-duration: 0.5s;
    animation-fill-mode: forwards;

    &.visible {
        animation-name: slideIn;
    }

    &.hidden {
        animation-name: slideOut;
    }

    .closebtn-div {
        display: flex;
        justify-content: flex-end;
        button {
            margin-top: 1rem;
            margin-right: 1rem;
            font-size: 2.1rem;
            margin-left: 1rem;
            border: none;
            border-radius: .5rem;
            background-color: inherit;
            font-family: 'Roboto', system-ui;
            padding: .3rem;
            transition: all .3s;
            font-weight: 500;
        }
    }
}

.actual-filters-mobile {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', system-ui;
    font-size: 1.8rem;
    font-weight: 400;
    color: $text-gray;
    gap: 1rem;
    padding: 1rem;
    width: 100%;

    .filtro-tipos {
        .tipo-boton {
            margin-bottom: .5rem;
            display: flex;

            button {
                cursor: pointer;
                margin-left: 1rem;
                border: none;
                border-radius: .5rem;
                background-color: lightgray;
                font-family: 'Roboto', system-ui;
                padding: .3rem;
                transition: all .3s;
                font-weight: 500;

                &:hover {
                    background-color: $color-naranja-hover;
                }
            }
        }

        .filtro-tipos-checkboxes {
            li {
                list-style: none;
                margin-top: 0.3rem;
        
                label {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;  // Un poco más de espacio entre checkbox y texto
                    font-family: 'Roboto', system-ui; // Aplicando la fuente que utilizas
                    font-size: 16px; // Tamaño de letra
                    color: $text-gray;  // Usando el gris para el texto
        
                    input {
                        appearance: none; // Oculta el checkbox por defecto
                        width: 18px;
                        height: 18px;
                        border: 2px solid $color-azul;  // Color del borde del checkbox
                        border-radius: 4px; // Bordes redondeados
                        position: relative;
                        cursor: pointer;
                        background-color: $main-white;
                        transition: all 0.3s ease;
        
                        &:checked {
                            background-color: $azul-oscuro;  // Color de fondo cuando está seleccionado
                            border-color: $azul-oscuro;
        
                            &:before {
                                content: "";
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%) rotate(45deg);
                                width: 5px;
                                height: 10px;
                                border: solid $main-white;
                                border-width: 0 2px 2px 0;
                            }
                        }
        
                        &:focus {
                            outline: none;
                            box-shadow: 0 0 3px rgba(0, 123, 255, 0.5); // Efecto de foco
                        }
                    }
                }
            }
        }
        
    }

    //UBI-----------------UBICACION---------
    .filtro-ubicacion {
        margin-top: 1rem;
        select {
            cursor: pointer;
            font-size: 1.3rem;
            border-radius: .7rem;
            border: none;
            font-family: 'Roboto', system-ui;
            margin-top: 1rem;
            padding: .5rem;
            background-color: $item-white;
            color: $text-gray;

            option {
                .ubicacion-option {
                    padding: 1rem;
                }
            }
        }
    }

    //MARCA--------------------MARCA------------
    .filtro-marca {
        margin-top: 1rem;
        select {
            cursor: pointer;
            font-size: 1.3rem;
            border-radius: .7rem;
            border: none;
            font-family: 'Roboto', system-ui;
            margin-top: 1rem;
            padding: .5rem;
            background-color: $item-white;
            color: $text-gray;

            option {
                .marca-option {
                    padding: 1rem;
                }
            }
        }
    }
}



@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

// Keyframes para la animación de cierre del menú
@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}


@media (max-width: 768px) {
    .filtro-tipos-checkboxes {
        li {
            margin-top: 0.5rem;

            label {
                font-size: 14px; // Texto más pequeño en pantallas móviles
                gap: 0.4rem; // Ajusta el espacio en mobile

                input {
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
}