.main-footer {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    background-color: $color-azul;
    color: $color-blanco;
    padding: 1.3rem;
    gap: 3rem;
    padding-top: 2.5rem;
    margin-top: .5rem;
    padding-bottom: 3rem;
    .social-icons {
        display: flex;
        justify-content: space-between;
        padding: .6rem;
        font-size: 2.4rem;
        text-decoration: none;
        align-items: center;
        .line {
            border-top: .2rem solid white;
            border-radius: 1rem;
            width: 3rem;
            height: 0;
            align-self: center;
        }
        a {
            color: $color-blanco;
            text-decoration: none;
        }
    }
    img {
        width: 18em;
        align-self: center;
    }
    .div-flex-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   
}

.newsletter-section {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    h1 {
        font-weight: 400;
        font-size: 2rem;
    }
    p {
        font-size: 1.1rem;
        font-weight: 300;
        text-align: center;
    }
    .news-suscribe {
        margin: .5rem;
        display: flex;
        justify-content: center;
        width: 100%;
        input {
            width: 70%;
            font-family: 'Roboto', system-ui;
            font-weight: 400;
            padding: 1.3rem;
            border-radius: 1rem;
            margin-right: 2rem;
            border: none;
        }
        button {
            font-family: 'Roboto', system-ui;
            font-weight: 300;
            padding: 1.3rem;
            border: none;
            border-radius: 1rem;
            background-color: $color-naranja;
            color: $color-blanco;
            transition: all .2s;
            cursor: pointer;
            &:hover {
                background-color: $color-naranja-hover;
            }
        }
    }
}

.links-utiles {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1.7rem;
    h1 {
        font-size: 2.3rem;
        font-weight: 400;
    }
    .nav-footer {
        color: $color-blanco;
        font-size: 1.2rem;
        text-decoration: none;
        font-weight: 300;
    }
}

.last-bit {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    width: 100%;
    color: $color-blanco;
    background-color: $color-azul-barroq;
    img {
        height: 2.7em;
    }
    p {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.3rem;
    }
}

//tablet
@media (min-width: 850px) {}

//desktop
@media (min-width: 1024px) {
    .main-footer {
        .social-icons {
            font-size: 1.7rem;
            .line {
                width: 35%;
            }
        }
        .div-flex-footer {
            flex-direction: row;
            align-self: center;
            justify-content: space-around;
        }
    }

    .newsletter-section {
        width: 50%;
        align-items: flex-start;
        p {
            text-align: left;
            width: 80%;
        }
        .news-suscribe {
            margin: 0;
            justify-content: left;
            input {
                width: 50%;
                padding: 1rem;
            }
            button {
                padding: 1rem;
            }
        }
    }
    .links-utiles {
        gap: 1.2rem;
        margin-top: 0;
    }

    .last-bit {
        justify-content: center;
        padding: .2rem;
        img {
            height: 2em;
        }
        p {
            font-size: 1rem;
        }
    }
}