.burger-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1em;

    h2 {
        font-size: 2rem; // Aumenta ligeramente el tamaño del título
        font-family: 'Raleway', sans-serif;
        font-weight: 700;

        .mercado {
            color: $color-blanco;
        }

        .dot-net {
            color: $color-naranja;
        }
    }
}

.nav-burger {
    background-color: $color-azul;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-controls {
    display: flex;
    align-items: center;
    .ioclose {
        cursor: pointer;
        font-size: 2.5rem;
        margin-right: .5rem;
    }
    margin: 2rem;
    h2 {
        font-size: 2.3rem; // Aumenta ligeramente el tamaño del título
        font-family: 'Raleway', sans-serif;
        font-weight: 700;

        .mercado {
            color: $color-negro;
        }

        .dot-net {
            color: $color-naranja;
        }
    }
}

.burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 2em;
    width: 2em;
    cursor: pointer;
}

.burger-bar {
    width: 100%;
    height: 0.2em;
    background-color: $color-blanco;
}

.menu {
    width: 60%; // Se reduce el ancho del menú
    height: 100vh;
    background-color: $color-blanco;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 0.3s ease;
    overflow: hidden;
    z-index: 1000;
}

.slide-right {
    transform: translateX(0);
}

.slide-left {
    transform: translateX(-100%);
}

.provider-login-btn, .buyer-login-btn {
    width: 85%; // Ajusta el ancho de los botones
    padding: 1.2em; // Hace los botones un poco más altos
    margin: .7em auto; // Aumenta el espaciado entre los botones y el menú
    border-radius: 0.5em;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    cursor: pointer;
    border: none;
    text-align: center;
}

.provider-login-btn {
    background-color: $color-naranja;
    color: $color-blanco;
}

.buyer-login-btn {
    background-color: $color-negro;
    color: $color-blanco;
}

.burger-nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.burger-nav-ul {
    list-style: none;
    padding: 0;
    width: 85%; // Ajusta el ancho de la lista para mantenerla alineada con los botones

    li {
        margin: 1em 0; // Aumenta el espacio entre los elementos del menú
    }
}

.burger-nav-item {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.4rem; // Aumenta el tamaño de la fuente para los links del menú
    color: $text-gray;
}

.burger-active {
    color: $dark-gray;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.no-scroll {
    overflow: hidden;
}
