.burger-mobile {
    margin-left: .3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: .7em;
    .burger-mobile-logo {
        img {
            object-fit: contain;
            width: 100%;
            height: 3.6em;
        }
    }
    h2 {
        font-size: 2rem; // Aumenta ligeramente el tamaño del título
        font-family: 'Raleway', sans-serif;
        font-weight: 700;

        color: white;
    }
}


.nav-burger {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: $color-azul;
    padding: .6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.2s ease-in-out;
    transform: translateY(0); // Posición inicial
    
    &.sticky {
        transform: translateY(-100px); // Cuando el header no es visible
    }
}

.menu-controls {
    display: flex;
    align-items: center;
    .ioclose {
        cursor: pointer;
        font-size: 2.5rem;
        margin-right: .5rem;
        margin-left: -.7rem;
    }
    margin: 2rem;
    img {
        object-fit: contain;
        width: 100%;
        height: 3.7em;
    }
    h2 {
        font-size: 2.3rem; // Aumenta ligeramente el tamaño del título
        font-family: 'Raleway', sans-serif;
        font-weight: 700;

        .mercado {
            color: $color-negro;
        }

        .dot-net {
            color: $color-naranja;
        }
    }
}

.burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 2em;
    width: 2em;
    cursor: pointer;
}

.burger-bar {
    width: 100%;
    height: 0.2em;
    background-color: $color-blanco;
}

.menu {
    width: 60%; // Se reduce el ancho del menú
    height: 100vh;
    background-color: $color-blanco;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 0.3s ease;
    overflow: hidden;
    z-index: 1000;
}

.slide-right {
    transform: translateX(0);
}

.slide-left {
    transform: translateX(-100%);
}

.provider-login-btn, .buyer-login-btn {
    font-family: "Montserrat",sans-serif;
    width: 85%; // Ajusta el ancho de los botones
    padding: 1rem; // Hace los botones un poco más altos
    margin: .7em auto; // Aumenta el espaciado entre los botones y el menú
    border-radius: 0.5em;
    font-weight: 500;
    cursor: pointer;
    border: none;
    text-align: center;
    font-size: 1.3rem;
}

.provider-login-btn {
    background-color: $color-naranja;
    color: $color-blanco;
}

.buyer-login-btn {
    background-color: $color-negro;
    color: $color-blanco;
}

.burger-nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.burger-nav-ul {
    list-style: none;
    padding: 0;
    width: 100%; // Ajusta el ancho de la lista para mantenerla alineada con los botones

    li {
        border-top: 1px solid rgb(233, 233, 233);
        margin: 1.1rem 0; // Aumenta el espacio entre los elementos del menú
        padding: 1rem .7rem;
        padding-left: 1.3rem;
        padding-top: 1.5rem;
    }
}

.burger-nav-item {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.4rem; // Aumenta el tamaño de la fuente para los links del menú
    color: $text-gray;
}

.burger-active {
    color: $dark-gray;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.no-scroll {
    overflow: hidden;
}
