.proveedor-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: $item-white;
    border-radius: .7rem;
    padding: 1rem;
    margin: 1rem;
    font-size: 1.1rem;
    height: 330px;
    color: $text-gray;

    .titulos {
        align-self: flex-start;
    }

    h2 {
        align-self: flex-start;
        color: $text-gray;
        font-weight: 580;
        font-size: 1.3rem;
    }

    .descripcion {
        align-self: flex-start;
        font-weight: 450;
    }

    strong {
        margin-top: .2rem;
        .icon {
            font-size: 1rem;
        }
        font-weight: 480;
        display: flex;
        font-size: 1rem;
        align-items: flex-start;
        gap: .1rem;
        align-self: flex-start;
        color: $dark-gray;
    }

    .proveedor-marcas {
        display: flex;
        gap: .2rem;
        align-self: flex-start;
    }

    img {
        object-fit: contain;
        height: 33%;
        width: 100%;
    }

    button {
        padding: .5rem;
        font-family: 'Roboto', system-ui;
        color: $main-white;
        background-color: $color-azul-light;
        border: none;
        border-radius: .4rem;
        width: 98%;
        transition: .3s all;

        &:hover {
            background-color: $color-azul-hover;
        }
    }
}

@media (min-width: 1024px) {
    .proveedor-item-desktop {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: auto;
        background-color: $item-white;
        border-radius: .7rem;
        padding: 1rem;
        margin: 2rem;
        width: 96%;
        font-size: 1rem;

        img {
            height: 100%;
            width: 20em;
            object-fit: contain;
        }

        h2 {
            align-self: flex-start;
            color: $text-gray;
        }

        .descripcion {
            align-self: flex-start;
            font-weight: 450;
        }

        strong {
            font-weight: 480;
            display: flex;
            align-items: flex-start;
            gap: .1rem;
            align-self: flex-start;
            color: $text-gray;
        }

        .proveedor-marcas {
            display: flex;
            gap: .2rem;
            align-self: flex-start;
        }

        button {
            padding: .5rem;
            font-family: 'Roboto', system-ui;
            color: $main-white;
            background-color: $color-azul-light;
            border: none;
            border-radius: .4rem;
            width: 98%;
            transition: .3s all;

            &:hover {
                background-color: $color-azul-hover;
            }
        }
    }
}