//Dentro de proveedor.jsx
.proveedores-list-grid {
    margin-top: 16pxD;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.proveedores-list-list {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}