.proveedores-list-container {
    .proveedores-list {
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .proveedores-list-container {
        overflow: scroll;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .filtros-desktop {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin-left: 2rem;
            margin-top: 2rem;
            padding: 2rem;
            width: 30%;
            .filtro-tipos {
                .tipo-boton {
                    display: flex;
                }
                .filtro-tipos-checkboxes {
                    li {
                        list-style: none;
                        margin-top: .3rem;
                        label {
                            display: flex;
                            gap: .3rem;
                        }
                    }
                }
            }
        }



        .proveedores-list {
            margin: 2rem;
            width: 100%;
            overflow: scroll;
            max-height: 1000px;
            &::-webkit-scrollbar {
                display: block;
                width: 8px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #888; /* Color de la barra */
                border-radius: 10px; /* Redondear bordes de la barra */
            }
        
            &::-webkit-scrollbar-track {
                background-color: #f1f1f1; /* Color de fondo del track */
            }
        
            /* Para Firefox */
            scrollbar-width: thin; /* Cambia a barra fina */
            scrollbar-color: #888 #f1f1f1; /* Color de la barra y del track */
        }
    }

    
    
}