.proveedores-desktop {
    font-family: 'Montserrat', sans-serif;
}

.main-proveedores{ 
    display: flex;
    flex-direction: column;
    .proveedores-filter-section {
        background: linear-gradient(to bottom, $color-azul 50%, #eee 80%);
        height: 40vh;
    }
}




@media (min-width: 850px) {}

//desktop
@media (min-width: 1024px) {
    .proveedores-desktop {
        background-image: url(https://i.ibb.co/tZ1y0zQ/Background-Ciudad.png);
        background-position: 50% 100%;
        background-size: cover;
        background-repeat: no-repeat;
        .proveedores-header {
            display: flex;
            justify-content: space-between;
            padding: 2rem;
            img {
                width: 10%;
                height: 80%;                
            }
            nav {
                .nav-link {
                    margin-right: 1rem;
                    color: $color-blanco;
                    text-decoration: none;
                    transition: all .2s ease-in-out;
                    &:hover {
                        transform: scale(1.06);
                    }
                }  
            }
        }
    }
    .main-proveedores{
        .search-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            h1 {
                font-family: 'Montserrat', sans-serif;
                color: $main-white;
                font-size: 2.5rem;
                font-weight: 600;
            }
            .search-section {
                width: 45%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: .5rem;
                border-radius: 2rem;
                background-color: $main-white;
                input {
                    all: unset;
                    margin-left: 1rem;
                    margin-right: 1rem;
                    width: 100%;
                }
                button {
                    all: unset;
                    cursor: pointer;
                    background-color: $color-naranja;
                    transition: all .3s;
                    padding: .4rem;
                    padding-right: .8rem;
                    padding-left: .8rem;
                    border-radius: 1rem;
                    &:hover {
                        background-color: $color-naranja-hover;
                    }
                    
                }
            }
        }
        .secondary-proveedores {
            background-color: $main-white;
            border-radius: 2rem;
            margin: 3rem;
            .proveedores-filter-section{
                background: none;
            }
        }
    }
}