.proveedores-list-container {
    border: 1px solid green;
    .proveedores-list {
        border: 1px solid black;
        width: 100%;
        overflow: scroll;
    }
}

@media (min-width: 1024px) {
    .proveedores-list-container {
        display: flex;
        flex-direction: row;
        border: 1px solid green;
        justify-content: space-between;
        .filtros-desktop {
            padding: 1rem;
            width: 30%;
            border: 1px solid purple;
        }
        .proveedores-list {
            border: 1px solid black;
            width: 100%;
            overflow: scroll;
        }
    }
}