.proveedores-list-container {

    .proveedores-list {
        width: 100%;
        min-height: 150vh;
        
        .loader {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 60vh;
            margin-top: 16px;
            .mobile-loader-box {
                width: 90%;
                
            }
        }

        .no-criteria {
            width: 100%;
            height: 20vh;
            display: flex;
            justify-content: center;

            P {
                font-size: 1.1rem;
                margin: 2.5rem;
                margin-top: 15rem;
                font-weight: 500;
                color: $dark-gray;
            }
        }

        .texto-proveedores-encontrados {
            font-size: 1rem;
            font-weight: 500;
            margin: 1rem 2rem;
            color: $dark-gray;
        }
    }
}

@media (min-width: 1024px) {
    .proveedores-page-header {
        font-family: 'Roboto', system-ui;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 13px;
        padding-bottom: 10px;
        border-bottom: 1px solid $color-gris;

        p {
            margin: .5rem 44px;
            color: $dark-gray;
        }

        .no-criteria {
            margin: .5rem 44px;
        }

        .texto-proveedores-encontrados {
            margin: 10px 44px;
        }
    }

    .proveedores-list-container {
        overflow: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 1rem;
        .skeleton-filter-loader {
            width: 25%;
            margin: 2rem;
        }

        .filtros-desktop {
            font-family: 'Roboto', system-ui;
            font-size: 1rem;
            font-weight: 400;
            color: $text-gray;
            display: flex;
            flex-direction: column;
            gap: 24px;
            margin-left: 1rem;
            margin-top: 1rem;
            padding: 1rem;
            width: 25%;
            max-width: 410px;

            // SERVICIOS ------------
            .filtro-servicios {
                margin-bottom: 2rem;

                h3 {
                    margin-bottom: 1.2rem;
                }

                .filtro-tipos-checkboxes {
                    li {
                        list-style: none;
                        margin-top: 0.7rem;

                        .switch-label {
                            display: flex;
                            align-items: center;
                            gap: 0.7rem;
                            font-size: 1rem;
                            font-family: 'Roboto', system-ui;
                            color: $text-gray;
                            cursor: pointer;

                            // Checkbox oculto
                            .hidden-checkbox {
                                display: none;

                                &:checked+.custom-switch {
                                    background-color: $color-azul-utils; // Color del switch activado
                                    border-color: $color-azul-utils; // Borde azul cuando está activo

                                    &::after {
                                        transform: translateX(18px); // Mueve el "punto" a la derecha
                                        background-color: $main-white; // Cambia el color del círculo
                                    }
                                }
                            }

                            // Switch personalizado
                            .custom-switch {
                                width: 40px; // Ancho del switch
                                height: 22px; // Alto del switch
                                background-color: $main-white; // Fondo apagado
                                border: 1px solid lightgray; // Borde gris
                                border-radius: 20px; // Hace el switch redondo
                                position: relative;
                                transition: background-color 0.3s ease, border-color 0.3s ease;

                                &::after {
                                    content: '';
                                    position: absolute;
                                    width: 16px;
                                    height: 16px;
                                    background-color: lightgray; // Color del círculo en estado apagado
                                    border-radius: 50%; // Hace el círculo redondo
                                    top: 2px;
                                    left: 2px;
                                    transition: transform 0.3s ease, background-color 0.3s ease;
                                }
                            }

                            // Etiqueta de "Fulfillment"
                            .fulfillment-badge {
                                position: relative;
                                top: 12px;
                                background-color: #84a8e4; // Fondo verdes
                                font-style: italic;
                                color: white;
                                font-size: 0.8rem;
                                padding: 0.2rem 0.5rem;
                                border-radius: 5px;
                                margin-left: auto; // Opcional para alinear a la derecha
                            }
                        }
                    }
                }


            }

            // TIPO------------------TIPO--------
            .filtro-categorias {
                .tipo-boton {
                    margin-bottom: 1rem;
                    display: flex;

                    button {
                        cursor: pointer;
                        margin-left: 1rem;
                        border: none;
                        border-radius: .5rem;
                        background-color: lightgray;
                        font-family: 'Roboto', system-ui;
                        padding: .3rem;
                        transition: all .3s;
                        font-weight: 500;

                        &:hover {
                            background-color: $color-naranja-hover;
                        }
                    }
                }

                .filtro-tipos-checkboxes {
                    li {
                        list-style: none;
                        margin-top: .5rem;

                        label {
                            display: flex;
                            gap: .4rem;

                            input {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }

            //UBI-----------------UBICACION---------
            .filtro-ubicacion {
                margin-bottom: 14px;

                select {
                    min-width: 180px;
                    width: 67%;
                    cursor: pointer;
                    font-size: 1rem;
                    border-radius: .7rem;
                    border: 1px solid #ccc;
                    font-family: 'Roboto', system-ui;
                    margin-top: 1rem;
                    padding: .5rem;
                    background-color: $item-white;
                    color: $text-gray;

                    option {

                        .ubicacion-option {
                            padding: 1rem;
                        }
                    }
                }
            }



            //MARCA--------------------MARCA------------
            .filtro-marca {
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 14px;
                margin-bottom: 1rem;

                .combobox {

                    display: flex;
                    gap: .3rem;

                    button {
                        all: unset;
                        cursor: pointer;
                        transition: all 0.2s ease-in-out;
                        transform-origin: center;

                        &:hover {
                            transform: rotate(-270deg);
                        }
                    }

                    .combobox-input {
                        min-width: 180px;
                        width: 68%;
                        font-size: 0.95rem;
                        padding: 8px 12px;
                        border: 1px solid #ccc;
                        border-radius: 10px;
                        background-color: #f9f9f9;
                        outline: none;
                        color: #333;
                        transition: border-color 0.3s, box-shadow 0.3s;

                        &:focus {
                            border-color: $color-azul-utils;
                            box-shadow: 0 0 4px rgba(255, 127, 0, 0.4);
                        }

                        &::placeholder {
                            color: #b0b0b0;
                            font-style: italic;
                        }
                    }

                    .combobox-dropdown {
                        position: absolute;
                        top: 100%;
                        left: 0;
                        width: 100%;
                        background-color: #fff;
                        border: 1px solid #e0e0e0;
                        border-radius: 8px;
                        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                        max-height: 200px;
                        overflow-y: auto;
                        z-index: 1000;

                        button {
                            all: unset;
                            width: 100%;
                        }

                        .combobox-option {
                            padding: 8px 12px;
                            cursor: pointer;
                            transition: background-color 0.2s, color 0.2s;

                            &:hover {
                                background-color: #ff7f00;
                                color: #fff;
                            }
                        }

                    }
                }
            }


        }


        .proveedores-list {
            margin: 1rem;
            width: 75%;
            max-width: 2400px;
            height: fit-content;
            min-height: auto;

            .proveedores-list-grid {
                display: block;
            }

            &::-webkit-scrollbar {
                display: block;
                width: 8px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #888;
                /* Color de la barra */
                border-radius: 10px;
                /* Redondear bordes de la barra */
            }

            &::-webkit-scrollbar-track {
                background-color: #f1f1f1;
                /* Color de fondo del track */
            }

            /* Para Firefox */
            scrollbar-width: thin;
            /* Cambia a barra fina */
            scrollbar-color: #888 #f1f1f1;

            /* Color de la barra y del track */
            .loader-box {
                height: fit-content;
                width: 100%;
                margin-top: 25px;
                
            }

            .loader {
                height: fit-content;
            }


        }

    }



}