.proveedores-desktop {
    font-family: 'Montserrat', sans-serif;
}

.main-proveedores {
    display: flex;
    flex-direction: column;
    
    .secondary-proveedores {

        .proveedores-filter-section {
            background: linear-gradient(to bottom, $color-azul 22%, #eee 29%);
            display: flex;
            background-color: #eee;
            flex-direction: column;
            background-size: 100% 1000px;
            background-repeat: no-repeat;

            .mobile-thumb-filters {
                margin-top: 1rem;
                width: 100%;

                .mobile-thumb-filters-btns-container {
                    overflow-x: scroll;
                    padding: 0 .5rem;
                    margin-bottom: 1rem;
                    display: flex;
                    height: auto;
                    width: 100%;
                    gap: 1.5rem;
                    -webkit-overflow-scrolling: touch; // Scroll suave en dispositivos móviles
                    scroll-snap-type: x mandatory;

                    &::-webkit-scrollbar {
                        height: 8px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: #ccc;
                        border-radius: 4px;
                    }

                    &::-webkit-scrollbar-track {
                        background-color: #f1f1f1;
                    }

                    .thumbFilter {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
                        padding-left: 1rem;

                        .thumbFilter-icon {
                            width: 5em;
                            height: 5em;
                            background-color: $color-azul;
                            border-radius: 50%;
                            padding: 1rem;

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }

                        p {
                            color: $dark-gray;
                            font-weight: 500;
                            margin-top: .5rem;
                            text-align: center;
                        }
                    }
                }

                .filterBtn {
                    all: unset;
                    padding: .3rem;
                    align-self: flex-end;
                    font-family: 'Roboto', system-ui;
                    cursor: pointer;
                    font-size: 1.7rem;
                    margin-left: 1.5rem;
                    font-weight: 400;
                    color: $dark-gray;

                    .icon {
                        font-size: 2rem;
                    }
                }
            }

            .banners-loading {
                margin-top: 7rem;
                align-self: center;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 95%;
                background-color: $color-azul;
                height: 15em;
                border-radius: 1.7rem;
                color: $main-white;
            }

            .news-banner {
                margin-top: 7rem;
                align-self: center;
                width: 95%;
                height: 100%;
                border-radius: 1.7rem;

                .main-carousel {
                    height: 100%;
                    width: 100%;

                    .flickity-prev-next-button {
                        width: 2.5rem;
                        /* Ancho de las flechas */
                        height: 2.5rem;
                        /* Alto de las flechas */
                        border: transparent;
                        /* Sin borde */
                        outline: transparent;
                        /* Sin borde de foco */
                        background-color: $dark-gray;



                    }

                    .carousel-image {
                        width: 100%;
                        height: 100%;
                    }
                }
            }


        }
    }
}




@media (min-width: 850px) {
    
}

//desktop
@media (min-width: 1024px) {
    .proveedores-desktop {
        background-image: linear-gradient(to bottom, rgba(238, 238, 238, 0) 60%, $color-azul 100%), url('https://i.ibb.co/tZ1y0zQ/Background-Ciudad.png');
        background-position: 100% -30%;
        background-repeat: no-repeat;
        background-size: 100% 1500px;
        background-color: $color-azul;


        .suggestions-list-box {
            display: flex;
            justify-content: center;
            .suggestions-list {
                max-width: 580px;
                position: absolute;
                background-color: white;
                border: 1px solid #ccc;
                border-radius: 4px;
                width: 32%;
                max-height: fit-content;
                overflow-y: auto;
                z-index: 3;
                list-style: none;
                padding: 0;
                margin-top: 5px;
                li {
                    padding: 10px;
                    cursor: pointer;
                }
                li:hover {
                    background-color: #f0f0f0;
                }
            }
        }

        
    }

    .main-proveedores {

        

        .main-search {
            align-self: center;
            width: 48%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 0;
            margin-top: 2rem;
            .search-box {
                
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 2rem;

                h1 {
                    font-family: 'Montserrat', sans-serif;
                    color: $main-white;
                    font-size: 2.5rem;
                    font-weight: 600;
                }

                .search-section {
                    width: 90%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: .5rem;
                    border-radius: 2rem;
                    background-color: $main-white;
                    
                    input {
                        all: unset;
                        margin-left: 1rem;
                        margin-right: 1rem;
                        width: 100%;
                        
                    }

                    button {
                        all: unset;
                        cursor: pointer;
                        background-color: $color-naranja;
                        transition: all .3s;
                        padding: .4rem;
                        padding-right: .8rem;
                        padding-left: .8rem;
                        border-radius: 1rem;

                        &:hover {
                            background-color: $color-naranja-hover;
                        }

                    }
                }
            }

            
        }


        .secondary-proveedores {
            display: flex;
            flex-direction: column;
            background-color: $list-white;
            border-radius: 2rem;
            margin: 3rem;
            z-index: 1;
            margin-top: 350px;
            .proveedores-filter-section {
                background: none;

                
            }

        }
    }
}