.slider-main {
    font-family: 'Montserrat',sans-serif;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    .banner-section {
        background-color: $color-naranja;
        padding: 1.5rem;
        padding-bottom: 1rem;
        color: $color-blanco;
        display: flex;
        flex-direction: column;
        p {
            font-size: 1.3rem;
            font-weight: 600;
            text-align: center;
        }
        button {
            font-family: 'Montserrat',sans-serif;
            font-weight: 600;
            cursor: pointer;
            font-size: 1.3rem;
            color: $color-blanco;
            margin-top: 1rem;
            padding: 1.3rem;
            background-color: $color-azul;
            align-self: center;
            border: none;
            border-radius: .9rem;
            transition: all .2s;
            &:hover {
                background-color: $color-azul-hover;
            }
        }
    }
}

//-------------ESTILOS DE FLICKL-----------------
.flickl {
    display: flex;
    justify-content: center;
    align-items: center;
    .main-carousel {
        width: 70%;
        height: 30vh;
        .carousel-cell {
            width: 100%; /* full width */
            height: 100%; /* height of carousel */
            margin-right: 10px;
            img {
                object-fit: contain;
                width: 100%;
                height: 20em;
            }
        }
    }
}
