/* Definición de colores principales */
$color-gris: #7A7A7A;
$color-naranja: #FF7F00;
$color-azul: #131921;
$color-blanco: #FFFFFF;
$color-negro: #000000;
$color-azul-hover: #242e3d;
$color-naranja-hover: #ff9c39;
$color-azul-barroq: #1D2830;

// VARIABLES EXTRAS DEV

$main-white: #F5F5F5; 
$text-gray: #2c2c2c;
$button-yellow: #F5B31F;
$bg-c-footer: #e1e1e1;
$black: black;
$mobile-button: #2f6735;
$azul-oscuro: #7098ee;
$dark-gray: #474747;
$list-white: #f5f7f8;
$item-white: #ffffff;
$color-azul-light: #004787;