@import "variables.scss";
@import "header.scss";
@import "nav.scss";
@import "landing.scss";
@import "footer.scss";
@import "menu.scss";
@import "categorias.scss";
@import "qsmnet.scss";
@import "sliders.scss";
@import "proveedores.scss";
@import "proveedoresListContainer.scss";
@import "filtrosComponent.scss";
@import "proveedor.scss";
@import "admin.scss";
@import "newsCarousel.scss";
@import "cards.scss";

* {
    outline: none !important;
    box-shadow: none !important;
}


//fuentes

//montserrat font-family: "Montserrat", system-ui;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

//roboto font-family: "Roboto", sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


//-------MOBILE AUTOMATICO---------
.hiddenInMobile {
    @media (max-width: 1024px) {
        display: none;
    }
}

.hiddenInDesktop {
    @media (min-width: 1024px) {
        display: none;
    }
}

html {
    font-size: 10px;
}

@media (min-width: 400px)  {
    html {
        font-size: 11px;
    }
}

@media (min-width: 1500px) {
    html {
        font-size: 15px;
    }
}




*::-webkit-scrollbar {
    display: none;
}

* {
    scrollbar-width: none;
    -ms-overflow-style: none;
    /* IE y Edge antiguos */
}

