@import "variables.scss";
@import "header.scss";
@import "nav.scss";
@import "landing.scss";
@import "footer.scss";
@import "menu.scss";
@import "categorias.scss";
@import "qsmnet.scss";
@import "sliders.scss";
@import "proveedores.scss";
@import "proveedoresListContainer.scss";
@import "filtrosComponent.scss";
@import "proveedor.scss";
@import "admin.scss";
@import "newsCarousel.scss";
@import "csimpleCard.scss";
@import "complexCard.scss";
@import "filterUtils.scss";
@import "tags.scss";
@import "../css/registerStyles/registerNavigator";
@import "../css/registerStyles/login";
@import "../css/registerStyles/register";
@import "../css/proveedorRegisterStyles/landingRegistroProveedor.scss";
@import "../css/proveedorRegisterStyles/seleccionTipoCard.scss";
@import "../css/cardSimulators/cardHistoria.scss";
@import "../css/cardSimulators/cardProductos.scss";
@import "../css/cardSimulators/cardProductosBis.scss";
@import "../css/cardSimulators/cardHistoriaBis.scss";
@import "../css/proveedorRegisterStyles/registroFormBase.scss";
@import "../css/proveedorRegisterStyles/formularioGeneral.scss";
@import "../css/proveedorRegisterStyles/formPersonalizadoA.scss";
@import "../css/proveedorRegisterStyles/formPersonalizadoB.scss";

.unset {
    all: unset;
}

* {
    outline: none !important;
    box-shadow: none !important;
}


//fuentes

//montserrat font-family: "Montserrat", system-ui;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

//roboto font-family: "Roboto", sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');


* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


//-------MOBILE AUTOMATICO---------
.hiddenInMobile {
    @media (max-width: 1024px) {
        display: none !important;
    }
}

.hiddenInDesktop {
    @media (min-width: 1024px) {
        display: none !important;
    }
}

html {
    font-size: 10px;
    
}

@media (min-width: 400px) {
    html {
        font-size: 11px;
    }
    *::-webkit-scrollbar {
        display: none;
    }
    
    * {
        scrollbar-width: none;
        -ms-overflow-style: none;
        /* IE y Edge antiguos */
    }
    
    
}

$scrollbar-width: 8px;
$scrollbar-track-color: #f4f4f4;
$scrollbar-thumb-color: #b3b3b3;
$scrollbar-thumb-hover: #808080;
$scrollbar-thumb-active: #5c5c5c;

@media (min-width: 1500px) {
    html {
        font-size: 15px;
    }
    * {

        /* Estilo para navegadores modernos */
        &::-webkit-scrollbar {
            width: $scrollbar-width;
            /* Ancho del scrollbar */
            height: $scrollbar-width;
            /* Altura del scrollbar horizontal */
        }
    
        &::-webkit-scrollbar-track {
            background: $scrollbar-track-color;
            /* Color de fondo del track */
            border-radius: 10px;
            /* Bordes redondeados */
        }
    
        &::-webkit-scrollbar-thumb {
            background: $scrollbar-thumb-color;
            /* Color de la barra */
            border-radius: 10px;
            /* Bordes redondeados */
            border: 2px solid $scrollbar-track-color;
            /* Espaciado entre barra y track */
        }
    
        &::-webkit-scrollbar-thumb:hover {
            background: $scrollbar-thumb-hover;
            /* Color más oscuro al pasar el mouse */
        }
    
        &::-webkit-scrollbar-thumb:active {
            background: $scrollbar-thumb-active;
            /* Color al hacer clic */
        }
    
        /* Soporte para Firefox y navegadores antiguos */
        scrollbar-width: thin;
        /* Ancho de la barra */
        scrollbar-color: $scrollbar-thumb-color $scrollbar-track-color;
        /* Colores */
    }
}



/* SCSS para toda la aplicación */
@media (min-width: 1024px) {
    .app-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* Ancho máximo */
      
    }
}


