@charset "UTF-8";
/* Definición de colores principales */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  background-color: #131921;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 3000;
  transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out;
}
.header.scrolled {
  background-color: #474747;
  padding: 0.5rem 1rem;
}
.header.scrolled img {
  width: 9%;
  height: 100%;
}
.header.scrolled .searchbox {
  display: none;
}
.header img {
  width: 12%;
  height: 100%;
}
.header .searchbox {
  border-radius: 0.3rem;
  width: 20em;
  display: flex;
  justify-content: space-between;
}
.header .searchbox input {
  all: unset;
  padding: 0.3rem;
  background-color: #FFFFFF;
  width: 100%;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}
.header .searchbox div {
  display: flex;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  padding: 0.3rem;
  background-color: #FF7F00;
  cursor: pointer;
  align-items: center;
}
.header .nav-link {
  color: #FFFFFF;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.header .nav-link:hover {
  transform: scale(1.06);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-footer {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  background-color: #131921;
  color: #FFFFFF;
  padding: 1.3rem;
  gap: 3rem;
  padding-top: 2.5rem;
  margin-top: 0.5rem;
  padding-bottom: 3rem;
}
.main-footer .social-icons {
  display: flex;
  justify-content: space-between;
  padding: 0.6rem;
  font-size: 2.4rem;
  text-decoration: none;
  align-items: center;
}
.main-footer .social-icons .line {
  border-top: 0.2rem solid white;
  border-radius: 1rem;
  width: 3rem;
  height: 0;
  align-self: center;
}
.main-footer .social-icons a {
  color: #FFFFFF;
  text-decoration: none;
}
.main-footer img {
  width: 18em;
  align-self: center;
}
.main-footer .div-flex-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter-section {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}
.newsletter-section h1 {
  font-weight: 400;
  font-size: 2rem;
}
.newsletter-section p {
  font-size: 1.3rem;
  font-weight: 300;
  text-align: center;
}
.newsletter-section .news-suscribe {
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  width: 100%;
}
.newsletter-section .news-suscribe input {
  width: 70%;
  font-family: "Roboto", system-ui;
  font-weight: 400;
  padding: 1.3rem;
  border-radius: 1rem;
  margin-right: 2rem;
  border: none;
}
.newsletter-section .news-suscribe button {
  font-family: "Roboto", system-ui;
  font-weight: 300;
  padding: 1.3rem;
  border: none;
  border-radius: 1rem;
  background-color: #FF7F00;
  color: #FFFFFF;
  transition: all 0.2s;
  cursor: pointer;
}
.newsletter-section .news-suscribe button:hover {
  background-color: #ff9c39;
}

.links-utiles {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1.7rem;
}
.links-utiles h1 {
  font-size: 2.3rem;
  font-weight: 400;
}
.links-utiles .nav-footer {
  color: #FFFFFF;
  font-size: 1.4rem;
  text-decoration: none;
  font-weight: 300;
}

.last-bit {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  width: 100%;
  color: #FFFFFF;
  background-color: #1D2830;
}
.last-bit img {
  height: 2.7em;
}
.last-bit p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
}

.burger-mobile {
  margin-left: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.7em;
}
.burger-mobile .burger-mobile-logo img {
  object-fit: contain;
  width: 100%;
  height: 3.6em;
}
.burger-mobile h2 {
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: white;
}

.nav-burger {
  position: fixed;
  z-index: 3000;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #131921;
  padding: 0.6em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.2s ease-in-out;
  transform: translateY(0);
}
.nav-burger.sticky {
  transform: translateY(-100px);
}

.menu-controls {
  display: flex;
  align-items: center;
  margin: 2rem;
}
.menu-controls .ioclose {
  cursor: pointer;
  font-size: 2.5rem;
  margin-right: 0.5rem;
  margin-left: -0.7rem;
}
.menu-controls img {
  object-fit: contain;
  width: 100%;
  height: 3.7em;
}
.menu-controls h2 {
  font-size: 2.3rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.menu-controls h2 .mercado {
  color: #000000;
}
.menu-controls h2 .dot-net {
  color: #FF7F00;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 2em;
  width: 2em;
  cursor: pointer;
}

.burger-bar {
  width: 100%;
  height: 0.2em;
  background-color: #FFFFFF;
}

.menu {
  width: 60%;
  height: 100vh;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
  overflow: hidden;
  z-index: 1000;
}

.slide-right {
  transform: translateX(0);
}

.slide-left {
  transform: translateX(-100%);
}

.provider-login-btn, .buyer-login-btn {
  font-family: "Montserrat", sans-serif;
  width: 85%;
  padding: 1rem;
  margin: 0.7em auto;
  border-radius: 0.5em;
  font-weight: 500;
  cursor: pointer;
  border: none;
  text-align: center;
  font-size: 1.3rem;
}

.provider-login-btn {
  background-color: #FF7F00;
  color: #FFFFFF;
}

.buyer-login-btn {
  background-color: #000000;
  color: #FFFFFF;
}

.burger-nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.burger-nav-ul {
  list-style: none;
  padding: 0;
  width: 100%;
}
.burger-nav-ul li {
  border-top: 1px solid rgb(233, 233, 233);
  margin: 1.1rem 0;
  padding: 1rem 0.7rem;
  padding-left: 1.3rem;
  padding-top: 1.5rem;
}

.burger-nav-item {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  color: #2c2c2c;
}

.burger-active {
  color: #474747;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.no-scroll {
  overflow: hidden;
}

.main-categorias {
  font-family: "Roboto", system-ui;
  background-image: url("https://i.ibb.co/tZ1y0zQ/Background-Ciudad.png");
  background-position: 56% -10%;
  background-size: 270%;
  background-repeat: no-repeat;
  background-color: #131921;
  margin-top: 6rem;
}
.main-categorias h1,
.main-categorias h3 {
  color: #FFFFFF;
}
.main-categorias h1 {
  font-size: 4.2rem;
  margin: 2.2rem;
  text-align: center;
  margin-top: 6.6rem;
  margin-bottom: 1rem;
}
.main-categorias h3 {
  margin-top: 0.5rem;
  margin: 1.3rem;
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: 0.5px;
}
.main-categorias section {
  margin-top: 3rem;
}
.main-categorias section h4 {
  font-weight: 300;
  color: #7A7A7A;
  font-size: 1.5rem;
  margin-left: 1rem;
}

.div-de-grid {
  display: grid;
  grid-template-columns: 1fr;
}
.div-de-grid .bg {
  background-color: #131921;
}
.div-de-grid .categorias-contenido {
  border-radius: 1rem;
  margin: 0.7rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.div-de-grid .categorias-contenido img {
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  height: 7em;
  width: 20%;
  object-fit: cover;
}
.div-de-grid .categorias-contenido p {
  color: #FFFFFF;
  margin: 1.2rem;
  padding: 0.7rem;
  font-size: 1.7rem;
  font-weight: 400;
}
.div-de-grid .cat-iconos {
  margin: 0.1rem;
  padding: 0.1rem;
  height: 5.2em;
  background-color: transparent;
}
.div-de-grid .cat-iconos img {
  height: 60%;
  width: 15%;
  object-fit: contain;
  border: none;
}
.div-de-grid .cat-iconos p {
  font-size: 1.2rem;
  padding: 0.5rem;
  width: 85%;
}

@media (min-width: 850px) {
  .main-categorias {
    background-size: cover;
  }
  .div-de-grid {
    grid-template-columns: 1fr 1fr;
  }
  .div-de-grid .cat-iconos {
    padding: 0.7rem;
  }
}
@media (min-width: 1024px) {
  .main-categorias {
    padding: 10%;
    margin-top: 0;
    background-position: 50% 100%;
    background-size: cover;
  }
  .main-categorias h1 {
    margin-top: 0;
  }
  .main-categorias section h4 {
    font-size: 1.2rem;
  }
  .div-de-grid {
    grid-template-columns: repeat(5, 1fr);
  }
  .div-de-grid .categorias-contenido img {
    width: 30%;
    height: 100%;
  }
  .div-de-grid .categorias-contenido p {
    font-size: 1.2rem;
    margin: 1rem;
    padding: 0.5rem;
    padding-right: 0;
    margin-right: 0;
    width: 70%;
  }
  .div-de-grid .cat-iconos {
    margin: 0.1rem;
    padding: 0.1rem;
    height: 5em;
  }
  .div-de-grid .cat-iconos img {
    height: 100%;
    width: 15%;
    object-fit: contain;
    border: none;
    padding: 0.5rem;
  }
  .div-de-grid .cat-iconos p {
    font-size: 1.2rem;
    padding: 0.5rem;
    width: 85%;
  }
}
.que-es-mnet {
  margin-top: 4.2rem;
  font-family: "Montserrat", sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "seccion-que-es" "seccion-imagen-containers" "seccion-simplificamos-mayorista" "seccion-contador";
}

.seccion-que-es {
  grid-area: seccion-que-es;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.7rem;
  text-align: center;
}
.seccion-que-es h1 {
  font-size: 2.7rem;
}
.seccion-que-es p {
  font-size: 1.7rem;
}

.seccion-imagen-containers {
  grid-area: seccion-imagen-containers;
  margin: 1rem;
  border-radius: 1.3rem;
}
.seccion-imagen-containers img {
  border-radius: inherit;
  width: 100%;
  height: 100%;
}

.seccion-simplificamos-mayorista {
  grid-area: seccion-simplificamos-mayorista;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.7rem;
  text-align: center;
}
.seccion-simplificamos-mayorista h1 {
  font-size: 2.7rem;
}
.seccion-simplificamos-mayorista p {
  font-size: 1.7rem;
}

.seccion-contador {
  grid-area: seccion-contador;
  margin: 1rem;
}
.seccion-contador .seccion-contador-render-condicional {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 3rem;
}
.seccion-contador .contadores {
  text-align: center;
}
.seccion-contador .contadores strong {
  color: #FF7F00;
  font-weight: 800;
  font-size: 3.1rem;
  font-family: "Roboto", system-ui;
}
.seccion-contador .contadores p {
  font-size: 1.3rem;
  color: #474747;
  font-weight: 550;
}

@media (min-width: 1024px) {
  .que-es-mnet {
    margin-top: 5.2rem;
    font-family: "Montserrat", sans-serif;
    display: grid;
    row-gap: 3rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "seccion-que-es seccion-imagen-containers" "seccion-contador seccion-simplificamos-mayorista";
  }
  .seccion-que-es {
    padding: 2rem;
  }
  .seccion-que-es h1 {
    font-size: 2rem;
  }
  .seccion-que-es p {
    font-size: 1.5rem;
  }
  .seccion-imagen-containers {
    margin: 1rem;
    width: 80%;
    align-self: center;
    justify-self: center;
  }
  .seccion-simplificamos-mayorista {
    padding: 2rem;
  }
  .seccion-simplificamos-mayorista h1 {
    font-size: 2rem;
  }
  .seccion-simplificamos-mayorista p {
    font-size: 1.5rem;
  }
  .seccion-contador {
    margin: 1rem;
    align-self: center;
  }
  .seccion-contador .seccion-contador-render-condicional {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 5rem;
  }
  .seccion-contador .contadores {
    text-align: center;
  }
  .seccion-contador .contadores strong {
    color: #FF7F00;
    font-weight: 800;
    font-size: 4rem;
    font-family: "Roboto", system-ui;
  }
  .seccion-contador .contadores p {
    font-size: 1.6rem;
    color: #474747;
    font-weight: 550;
  }
}
.slider-main {
  font-family: "Montserrat", sans-serif;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}
.slider-main .banner-section {
  background-color: #FF7F00;
  padding: 1.5rem;
  padding-bottom: 1rem;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
}
.slider-main .banner-section p {
  padding: 0.2rem;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
}
.slider-main .banner-section button {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  cursor: pointer;
  font-size: 1.3rem;
  color: #FFFFFF;
  margin-top: 1rem;
  padding: 1.3rem;
  background-color: #131921;
  align-self: center;
  border: none;
  border-radius: 0.9rem;
  transition: all 0.2s;
}
.slider-main .banner-section button:hover {
  background-color: #242e3d;
}
.slider-main .slider-section {
  margin-top: 2.7rem;
  margin-bottom: 1rem;
}
.slider-main .slider-section h1 {
  text-align: center;
  font-size: 2.2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.flickl {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flickl .main-carousel {
  width: 100%;
  height: 21em;
}
.flickl .main-carousel .flickity-prev-next-button {
  width: 2.5rem;
  /* Ancho de las flechas */
  height: 2.5rem;
  /* Alto de las flechas */
  border: transparent;
  /* Sin borde */
  outline: transparent;
  /* Sin borde de foco */
  background-color: transparent;
  /* Cambiar el icono de la flecha SVG */
}
.flickl .main-carousel .flickity-prev-next-button .flickity-button-icon {
  fill: #000000;
  /* Color de la flecha SVG */
  width: 1.5rem;
  height: 1.5rem;
  outline: transparent;
  border: transparent;
}
.flickl .main-carousel .carousel-cell {
  width: 100%;
  /* Full width */
  height: 21em;
  /* Height of carousel */
}
.flickl .main-carousel .carousel-cell img {
  object-fit: contain;
  width: 100%;
  height: inherit;
}

@media (min-width: 1024px) {
  .slider-main .banner-section {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }
  .slider-main .banner-section div p {
    font-size: 1.6rem;
    text-align: justify;
  }
  .slider-main .banner-section button {
    font-size: 1.6rem;
  }
  .slider-section {
    margin-bottom: 1rem;
  }
  .slider-section h1 {
    margin-bottom: 5rem;
  }
  .flickl .main-carousel .carousel-cell {
    width: 33%;
  }
}
* {
  outline: none !important;
  box-shadow: none !important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (max-width: 1000px) {
  .hiddenInMobile {
    display: none;
  }
}

@media (min-width: 1000px) {
  .hiddenInDesktop {
    display: none;
  }
}

html {
  font-size: 9px;
}

@media (min-width: 400px) {
  html {
    font-size: 11px;
  }
}
@media (min-width: 1500px) {
  html {
    font-size: 15px;
  }
}
*::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
  /* IE y Edge antiguos */
}

/*# sourceMappingURL=main.css.map */
