@charset "UTF-8";
/* Definición de colores principales */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.burger-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1em;
}
.burger-mobile h2 {
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.burger-mobile h2 .mercado {
  color: #FFFFFF;
}
.burger-mobile h2 .dot-net {
  color: #FF7F00;
}

.nav-burger {
  background-color: #131921;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-controls {
  display: flex;
  align-items: center;
  margin: 2rem;
}
.menu-controls .ioclose {
  cursor: pointer;
  font-size: 2.5rem;
  margin-right: 0.5rem;
  margin-left: -0.7rem;
}
.menu-controls h2 {
  font-size: 2.3rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.menu-controls h2 .mercado {
  color: #000000;
}
.menu-controls h2 .dot-net {
  color: #FF7F00;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 2em;
  width: 2em;
  cursor: pointer;
}

.burger-bar {
  width: 100%;
  height: 0.2em;
  background-color: #FFFFFF;
}

.menu {
  width: 60%;
  height: 100vh;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
  overflow: hidden;
  z-index: 1000;
}

.slide-right {
  transform: translateX(0);
}

.slide-left {
  transform: translateX(-100%);
}

.provider-login-btn, .buyer-login-btn {
  font-family: "Montserrat", sans-serif;
  width: 85%;
  padding: 1rem;
  margin: 0.7em auto;
  border-radius: 0.5em;
  font-weight: 500;
  cursor: pointer;
  border: none;
  text-align: center;
  font-size: 1.3rem;
}

.provider-login-btn {
  background-color: #FF7F00;
  color: #FFFFFF;
}

.buyer-login-btn {
  background-color: #000000;
  color: #FFFFFF;
}

.burger-nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.burger-nav-ul {
  list-style: none;
  padding: 0;
  width: 100%;
}
.burger-nav-ul li {
  border-top: 1px solid rgb(233, 233, 233);
  margin: 1.1rem 0;
  padding: 1rem 0.7rem;
  padding-left: 1.3rem;
  padding-top: 1.5rem;
}

.burger-nav-item {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  color: #2c2c2c;
}

.burger-active {
  color: #474747;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.no-scroll {
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (max-width: 1000px) {
  .hiddenInMobile {
    display: none;
  }
}

@media (min-width: 1000px) {
  .hiddenInDesktop {
    display: none;
  }
}

html {
  font-size: 12px;
}

@media (min-width: 1500px) {
  html {
    font-size: 16px;
  }
}

/*# sourceMappingURL=main.css.map */
