// Estilos del formulario general
.formulario-bg {
    position: fixed;
    z-index: -1;
    width: 100%;
}



@media (min-width: 1000px) {
    .formulario-general-container {
        width: 100%;

        .form-card-container {
            display: flex;
            justify-content: space-around;
            margin: 50px;

            .form-container {
                .formulario-general {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    max-width: 700px;
                    padding: 25px;
                    background: #ffffff;
                    border-radius: 10px;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

                    .custom-dropdown {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;

                        label {
                            

                            select {
                                padding: 10px;
                                border: 1px solid #ccc;
                                border-radius: 4px;
                                background-color: #fff;
                                font-size: 1rem;
                                cursor: pointer;
                                transition: border-color 0.3s ease, box-shadow 0.3s ease;

                                &:hover {
                                    border-color: #888;
                                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                                }

                                &:focus {
                                    outline: none;
                                    border-color: #007bff;
                                    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
                                }

                                option {
                                    padding: 5px;
                                    background-color: #fff;
                                    color: #333;

                                    &:hover {
                                        background-color: #f5f5f5;
                                    }
                                }
                            }
                        }
                    }


                    h1,
                    h3 {
                        font-family: 'Montserrat', sans-serif;
                        color: #333;
                        font-weight: bold;
                        margin: 5px;
                    }

                    h1 {
                        font-size: 2.2rem;
                    }

                    h3 {
                        font-weight: 550;
                    }

                    .ubicacion-label-box {
                        display: flex;
                        gap: 10px;
                        width: 100%;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;

                        label {
                            width: 100%;
                        }
                    }

                    .nombre-label-box {
                        display: flex;
                        gap: 10px;
                        width: 100%;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;

                        label {
                            width: 100%;
                        }
                    }

                    .orange-prop {
                        border: 2px solid $color-naranja;
                        margin-bottom: 10px;
                    }

                    label {
                        font-family: 'Montserrat', sans-serif;
                        display: flex;
                        flex-direction: column;
                        font-size: 14px;
                        font-weight: 500;
                        color: #444;

                        input,
                        select,
                        fieldset {
                            cursor: pointer;
                            font-family: 'Montserrat', sans-serif;
                            margin-top: 8px;
                            padding: 10px;
                            font-size: 14px;
                            border: 1px solid #ccc;
                            border-radius: 5px;
                            background: #f9f9f9;
                            transition: all .3s;

                            &:focus {
                                border-color: #007bff;
                                outline: none;
                                box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
                            }

                            &:hover {
                                border-color: #888;
                                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                            }
                        }

                        input {
                            cursor: auto;
                        }

                        input[type="number"]::-webkit-inner-spin-button,
                        input[type="number"]::-webkit-outer-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                    }

                    fieldset {

                        border: none;

                        .cat-label-container {
                            display: flex;
                            flex-wrap: wrap;

                            .cat-label {
                                font-size: 1rem;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: flex-start;
                                margin: 3px;
                                gap: 3px;

                                input {
                                    margin: 0;
                                    padding: 0;
                                    cursor: pointer;
                                }

                                p {
                                    color: $dark-gray;
                                }
                            }
                        }

                        legend {
                            font-size: 14px;
                            font-weight: bold;
                            margin-bottom: 10px;
                            color: #444;
                            font-family: 'Montserrat', sans-serif;
                        }

                        label {
                            flex: 1 1 calc(50% - 10px); // Dos columnas en pantallas grandes

                            input {
                                font-family: 'Roboto', system-ui;
                            }
                        }

                        strong {
                            color: red;
                            font-size: 12px;
                            margin-top: 5px;
                        }
                    }

                    .botones-navegacion {
                        display: flex;
                        justify-content: space-between;
                        margin-top: 20px;

                        button {
                            font-family: 'Roboto', system-ui;
                            padding: 10px 20px;
                            font-size: 14px;
                            border: none;
                            border-radius: 5px;
                            cursor: pointer;
                            transition: background-color 0.3s ease;

                            &:first-child {
                                background-color: inherit;
                                color: #1473e6;
                            }

                            &:last-child {
                                background-color: #1473e6;
                                color: #fff;
                                border-radius: 2rem;

                                &:hover {
                                    background-color: #0056b3;
                                }
                            }
                        }
                    }
                }
            }

            .general-card-simulator {
                border: 1px solid white;
                position: sticky;
                top: 50px;
                width: 500px;
                height: 200px;
            }

        }

    }
}